<div class="flex gap-10">
  <div class="w-[40%] min-h-[60vh]">
    <div class="text-2xl font-bold leading-9 tracking-tight mt-1" v-if="level">
      Oso Policy
    </div>
    <pre class="language-rb"><code class="language-rb" v-html="polarCode" ref="codeSnippet"></code></pre>
  </div>
  <div class="w-[60%]">
    <div class="text-2xl font-bold leading-9 tracking-tight mt-1" v-if="level">
      Hole {{state.level}} (Par {{level.par}})
    </div>
    <div>
      {{level?.description}}
    </div>
    <div>
      <constraints></constraints>
    </div>
    <div class="w-full mt-3">
      <div class="text-xl font-bold leading-9 tracking-tight mt-1 flex w-full">
        <div class="mr-4">
          Strokes
        </div>
      </div>

      <div class="mt-3">
        <div v-for="fact in state.facts" :key="fact._id">
          <div v-if="fact.factType === 'role'">
            {{displayRoleFact(fact)}}
            &nbsp;&nbsp;
            <async-button
              @click="deleteFact(fact)"
              :disabled="deleteInProgress"
              class="rounded bg-red-600 disabled:bg-gray-300 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Delete Fact
            </async-button>
          </div>
          <div v-else>
            {{displayAttributeFact(fact)}}
            &nbsp;&nbsp;
            <async-button
              @click="deleteFact(fact)"
              :disabled="deleteInProgress"
              class="rounded bg-red-600 disabled:bg-gray-300 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Delete Fact
            </async-button>
          </div>
        </div>
        <div v-if="status === 'loaded' && state.facts.length === 0">
          No strokes yet! Add some below.
        </div>
      </div>
      
      <div class="bg-gray-50 shadow sm:rounded-lg mt-3">
        <div class="px-4 py-5 sm:p-6">
          <div v-show="level?.showAddRoleFact">
            <add-role-fact></add-role-fact>
          </div>

          <div v-show="level?.showAddAttributeFact">
            <div class="font-bold leading-9 tracking-tight mt-3">
              Add Attribute
            </div>
            <select
              v-model="attributeFact.resourceType"
              class="mr-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option
                v-for="resource in allResources"
                :value="resource"
                v-text="resource" />
            </select>
            <select
              v-model="attributeFact.resourceId"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option v-for="resource in resourceIds"
                :value="resource"
                v-text="resource" />
            </select>
            has attribute
            <select
              v-model="attributeFact.attribute"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option
                v-for="attr in allAttributes"
                :value="attr"
                v-text="attr" />
            </select>
            set to
            <select
              v-model="attributeFact.attributeValue"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option v-for="v in allAttributeValues" :value="v" v-text="v" />
            </select>
            <async-button
              @click="addAttributeFact"
              class="ml-1 rounded bg-indigo-600 px-2 py-1 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Add Attribute
            </async-button>
          </div>

          <div v-show="level?.groups">
            <add-role-fact :actorType="'Group'"></add-role-fact>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3" v-if="state.showNextLevelButton">
      <div class="text-xl font-bold leading-9 tracking-tight mt-1 flex w-full">
        <div class="mr-4">
          Solution Found!
        </div>
      </div>
      <div>
        <b>Par:</b> {{parForLevel}}&nbsp;
        <div
          class="inline inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
          v-if="parForLevel === -2">
          Eagle
        </div>
        <div
          class="inline inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
          v-if="parForLevel === -1">
          Birdie
        </div>
        <div
          class="inline inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-blue-700/10"
          v-if="+parForLevel === 0">
          Par
        </div>
        <div
          class="inline inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-yellow-600/20"
          v-if="+parForLevel > 0">
          Over
        </div>
      </div>
      <async-button @click="verifySolutionForLevel" class="mt-3 rounded bg-green-600 px-2 py-1 text-xl font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
        Next Level
      </async-button>
    </div>
  </div>
</div>