<div class="scorecard w-full">
  <table class="min-w-full border-black border border-collapse" style="border-color: black; border: 1px solid black;">
    <thead style="background-color: #6366f2">
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 border-black border" style="color: white; border: 1px solid black">HOLE</th>
        <th scope="col" v-for="index in holes" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 border-black border" style="color: white; border: 1px solid black">{{index}}</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 border-black border" style="color: white; border: 1px solid black">TOTAL</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr>
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 border-black border" style="border: 1px solid black">{{state.name}}</td>
        <td v-for="index in holes" class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 border-black border" style="border: 1px solid black">{{displayPar(state.player?.parPerLevel?.[index - 1], levels[index - 1].par)}}</td>
      </tr>
      <tr style="background-color: #ddd">
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 border-black border" style="border: 1px solid black">PAR</td>
        <td v-for="index in holes" class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 border-black border" style="border: 1px solid black">{{levels[index - 1].par}}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 border-black border" style="border: 1px solid black"><b>{{parTotal}}</b></td>
      </tr>
    </tbody>
  </table>
</div>