<div class="px-2 py-1">
  <div class="text-4xl font-bold tracking-tight sm:text-6xl">GitClub Golf</div>
  <div class="mb-4">
    Find the minimum number of Oso facts to satisfy the following constraints as fast as you can!
  </div>
  <div class="flex gap-10">
    <div class="w-[40%] h-[80vh] overflow-scroll">
      <pre><code class="language-javascript" v-text="polarCode" ref="codeSnippet"></code></pre>
    </div>
    <div>
      <div>
        <div class="text-2xl font-bold leading-9 tracking-tight mt-1">Constraints</div>
        <div v-for="constraint in state.constraints">
          {{constraint.userId}} {{constraint.shouldFail ? 'cannot' : 'can'}} {{constraint.action}} {{constraint.resourceType}} {{constraint.resourceId}}
        </div>
      </div>
      <div>
        <div class="text-2xl font-bold leading-9 tracking-tight mt-1">Add Fact</div>
        User <select v-model="userId"><option v-for="user in allUsers" :value="user" v-text="user" /></select>
        has role <select v-model="role"><option v-for="role in allRoles" :value="role" v-text="role" /></select>
        on resource <select v-model="resourceType"><option v-for="resource in allResources" :value="resource" v-text="resource" /></select>
        <select v-model="resourceId"><option v-for="resource in resourceIds" :value="resource" v-text="resource" /></select>
        <div>
          <button
            @click="tell"
            class="rounded bg-indigo-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Add Fact
          </button>
        </div>
      </div>
      <div>
        <div class="text-2xl font-bold leading-9 tracking-tight mt-1">Existing Facts</div>
        <div v-for="fact in state.facts">
          User {{fact.userId}} has role {{fact.role}} on {{fact.resourceType}} {{fact.resourceId}}
          &nbsp;&nbsp;<button @click="deleteFact(fact)" class="rounded bg-red-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Delete Fact</button>
        </div>
      </div>
      <div>
        <div class="text-2xl font-bold leading-9 tracking-tight mt-1">Test</div>
        <div>
          <button @click="test" class="rounded bg-indigo-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Run Tests</button>
        </div>
        <div v-for="result in state.results">
          [{{result.pass ? 'PASS' : 'FAIL'}}] {{result.userId}} {{result.shouldFail ? 'cannot' : 'can'}} {{result.action}} {{result.resourceType}} {{result.resourceId}}
        </div>
      </div>
    </div>
  </div>
</div>